.App{
  /* background-image: url("C:\Users\shanmugi.s\tododemo\src\styles\to-do-list-apps.png");
  background-repeat: no-repeat; */
  text-align: center;
   background-color:rgb(245, 181, 236); 
  
}
.ToDoList {
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 10px;
  /* height:100px;
  width: 120px; */
}

.ToDo {
  font-size: 1.2em;
  background-color:rgb(245, 181, 236); 
  margin: 5px;
  height:100px;
   width: 100px; 
  align-items: center;
  justify-content: center;
  padding-left: 600px;
}

li.Done {
  font-size: 1.1em;
  text-decoration: line-through dotted ghostwhite;
  background-color: rgb(197, 154, 226);
  margin: 5px;
  padding-left: 15px;
}

input.ToDo {
  margin-right: 5px;
}

.button{
  border-radius: 5px;
  background-color:rgb(197, 154, 226);
  color:seashell ;
}